---
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import Card from '../components/Card.astro'
import { LINKS } from '../lib/constants'
---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 text-special"
      >
        Projects
      </h2>
      
    </TopLayout>
    <div class="w-full px-4 md:px-8 lg:px-16 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-2"
        href={LINKS.cva}
        >
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            CVA
          </h1>
        </header>
        <div class="flex h-full w-full flex-col">
          <div>
            <img
              src={`${import.meta.env.BASE_URL}/logo-cva.png`}
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="CVA logo followed by slogan 'your time is sacred'"
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              CVA (Component Variants Automator) is a plugin created by Toki Labs, the team I’m proud to be part of. 
              We noticed that Figma lacked a native feature to automatically generate component variants, 
              so we developed this plugin to fill that gap and make designers’ workflows smoother and more efficient.
            </p>
          </div>
        </div>
      </Card>
      
      
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-2"
        href={LINKS.figmaSdk}
      >
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Figma SDK
          </h1>
        </header>
        <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src={`${import.meta.env.BASE_URL}/logo-sdk.png`}
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="Figma SDK logo is the text on a black background"
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              The toolkit includes a UI Component Library designed with Figma's latest UI3 styles, 
              which helps developers build visually consistent and native-feeling plugin interfaces effortlessly.
            </p>
          </div>
        </div>
      
      </Card>

      <!-- Add more cards here -->
      <Card colSpan="md:col-span-1" rowSpan="md:row-span-2" href= {LINKS.cheery}>
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Cheery
          </h1>
        </header>
          <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src={`${import.meta.env.BASE_URL}/logo-cheery.png`}
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="Cheery logo is the word cheery in purple surrounded by small green
              squares like github's commits."
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              Cheery is a mascot that cheers you on while you code. Who has never felt
              a bit unmotivated when debuging something or just in need of some cheerleading
              when creating something new?
            </p>
          </div>
        </div>
      </Card>
      <Card colSpan="md:col-span-1" rowSpan="md:row-span-2" href= {LINKS.celestialInsights}>
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Celestial Insights
          </h1>
        </header>
          <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src={`${import.meta.env.BASE_URL}/logo-celestial-insights.png`}
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="The Celestial Insights logo is the word itself in golden yellow upon a dark background."
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              Celestial Insights is a tarot reading AI for mystically curious people.
            </p>
          </div>
        </div>
      </Card>
      <Card colSpan="md:col-span-1" rowSpan="md:row-span-2" href= {LINKS.trove}>
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Trove
          </h1>
        </header>
          <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src={`${import.meta.env.BASE_URL}/logo-trove.png`}
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="The Trove logo is the word itself in light brown with the silhouette of an elephant as the letter O, over a light background."
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              Trove is a list sharing app where you can list your favorite movies, shows, music, books, anything that 
              you feel should be organized somewhere like precious blocks that make you, you. The lists can be public and 
              shared with your friends, in case any of them asks for advice in, let's say... The best halloween movies.
            </p>
          </div>
        </div>
      </Card>
      <Card colSpan="md:col-span-1" rowSpan="md:row-span-2" href= {LINKS.trippleMoon}>
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Tripple Moon
          </h1>
        </header>
          <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src={`${import.meta.env.BASE_URL}/logo-tripple-moon.png`}
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="The Triple Moon logo is the word itself in dark red upon a light rose background and the tripple moon symbol of crescente, full and waning moon beneath the word."
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              Tripple Moon is a period tracking app that also tracks the lunar cycles. It's perfect for 
              people who want to view their cycles as ruled by the moon.
            </p>
          </div>
        </div>
      </Card>
    </div>
  </div>
</div>

    <BottomLayout size="xl">
    </BottomLayout>
  </main>
</BaseLayout>
