---
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Card from '../components/Card.astro'
import { LINKS } from '../lib/constants'

import { contentfulClient } from '../lib/contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer'
import type { EntryFieldTypes } from 'contentful'

interface Project {
  contentTypeId: 'Projects'
  fields: {
    name: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink
    website: EntryFieldTypes.EntryResourceLink<any>
    repositorio: EntryFieldTypes.EntryResourceLink<any>
  }
}

const entries = await contentfulClient.getEntries<Project>({})
---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 text-special"
      >
        Projects
      </h2>
      
    </TopLayout>
    <div class="w-full px-4 md:px-8 lg:px-16 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-full">
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-2"
        href={LINKS.cva}
        >
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            CVA - Component Variants Automator
          </h1>
        </header>
        <div class="flex h-full w-full flex-col">
          <div>
            <img
              src="/logo-cva.png"
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="CVA logo followed by slogan 'your time is sacred'"
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              CVA is a plugin created by Toki Labs, the team I’m proud to be part of. 
              We noticed that Figma lacked a native feature to automatically generate component variants, 
              so we developed this plugin to fill that gap and make designers’ workflows smoother and more efficient.
            </p>
          </div>
        </div>
      </Card>
      
      
      <Card
        colSpan="md:col-span-1"
        rowSpan="md:row-span-2"
        href={LINKS.figmaSdk}
      >
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Figma SDK
          </h1>
        </header>
        <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src="/logo-sdk.png"
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="Figma SDK logo is the text on a black background"
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              The toolkit includes a UI Component Library designed with Figma's latest UI3 styles, 
              which helps developers build visually consistent and native-feeling plugin interfaces effortlessly.
            </p>
          </div>
        </div>
      
      </Card>

      <!-- Add more cards here -->
      <Card colSpan="md:col-span-1" rowSpan="md:row-span-1" href= {LINKS.cheery}>
        <header class="flex items-center">
          <h1 class="text-xl font-bold text-foreground text-secondary">
            Cheery
          </h1>
        </header>
          <div class="flex h-full w-full flex-col">
          <div>
            <img
              width="50"
              height="50"
              src="/logo-cheery.png"
              class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
              alt="Cheery logo is the word cheery in purple surrounded by small green
              squares like github's commits."
            />
          </div>
          <div>
            <p class="mt-2 text-sm text-muted-foreground">
              Cheery is a mascot that cheers you on while you code. Who has never felt
              a bit unmotivated when debuging something or just in need of some cheerleading
              when creating something new? (Cheery is currently being built).
            </p>
          </div>
        </div>
      </Card>
    </div>
  </div>
</div>

    <BottomLayout size="xl">
      <div class="flex w-full flex-wrap justify-center gap-2">
        {
          entries.items.map((entry: any) => (
            <ProjectCard
              key={entry?.sys?.id}
              href={entry?.fields?.website}
              heading={entry?.fields?.name}
              subheading={entry?.fields?.description}
              imagePath={entry?.fields?.img?.fields?.file.url}
              altText={entry?.fields?.img?.fields.title}
              class="w-full sm:w-2/5"
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
